@page "/All"
@using Rental.Data
@using Rental.Data.Context
@inject RentalContext RentalContext


<Navigation></Navigation>

<section class="row g-5 px-3 py-5 row-cols-1 row-cols-md-2 px-md-5 mx-md-5 row-cols-xxl-3 px-xxl-5 mx-xxl-5">

    @if (_cars.Count == 0)
    {
        <p>Noping</p>
    }
    else
    {
        foreach (var car in _cars)
        {
            <CardVehicleRent Image=@car.Image Copyright=@car.Copyright />            
        }
    }

</section>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<Footer></Footer>

@code {

    private List<Car> _cars;

    protected override async Task OnInitializedAsync()
    {
        _cars = await RentalContext.GetAllCars();
    }

}