@page "/Own"
@using Rental.Data
@using Rental.Data.Context
@inject RentalContext RentalContext

<Navigation/>

<AuthorizeView Roles="Administrator">
    <Authorized>

        <section class="row g-5 px-3 py-5 row-cols-1 row-cols-md-2 px-md-5 mx-md-5 row-cols-xxl-3 px-xxl-5 mx-xxl-5">

            <div class="col">
                <img src="/img/jpg/Audi.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Jae Park from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/jpg/BMW.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Jae Park from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/jpg/Honda.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by John Mark Smith from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/pexels/svh/CitroenUp.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Kelson Downes from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/pexels/svh/Citroen.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Kelson Downes from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/jpg/Tesla.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Kelson Downes from
                    Pexels
                </p>
            </div>

            <div class="col">
                <img src="/img/jpg/Volkswagen.jpg" class="img-fluid img-thumbnail" alt="Vehicle">
                <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
                    Photo by Mike from
                    Pexels
                </p>
            </div>

        </section>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </Authorized>
    <NotAuthorized>
        <MessageNotAuthorized/>
    </NotAuthorized>
</AuthorizeView>

<Footer></Footer>
