@inject NavigationManager NavigationManager

<div class="col">
    <img src="@Image" class="img-fluid img-thumbnail" alt="Vehicle">
    <p class="text-muted small mt-3 pt-2 text-end px-md-5 px-xxl-0 me-3 border-top">
        Photo by @Copyright from Pexels
    </p>
    <div class="btn-group col-12 px-2 px-xxl-5">
        <button class="col-6 btn btn-primary">Rent</button>
        <button class="col-6 btn btn-outline-primary" @onclick="SeeInformationCar">More Info.</button>
    </div>
</div>

@code {

    [Parameter]
    public string License { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Copyright { get; set; }

    private void SeeInformationCar()
    {
        NavigationManager.NavigateTo("/Vehicle/" + License);
    }

}