<section class="p-5 bg-light text-center">
    <div class="p-5"> 
        <h1 class="display-1 fw-bold">Forbidden!</h1>
        <h2 class="display-4 fw-bold text-muted">Code 403</h2>
        <p class="pt-3">The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.</p>
        <button class="btn btn-primary fw-bold">Home</button>
    </div>
</section>