<nav class="navbar navbar-expand-md navbar-dark fw-bold"
     style="background-color: #000; color: #FFF; font-family: Roboto, sans-serif;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/png/Logo.png" alt="Logo" width="140" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/All">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
        <span class="d-none d-md-block navbar-text me-4">
            Sign Up
        </span>
        <span class="d-none d-md-block navbar-text me-3 border-primary border rounded-pill px-3 bg-primary fw-bold"
              style="color: #FFF">
            <a href="/SignIn" class="text-decoration-none">Sign In</a>
        </span>
    </div>
</nav>